/*Adicionar o backgorund e as fontes aqui dps*/

/*Background da tela de login*/
/* Design sem nome (3) 1 */
#background_image {
    width: 445px;
    height: 611px;
};


body{
    width: 430px;
    height: 940px;
    
 };

*{
    border: solid 2px red;
}