/*Adicionar o backgorund e as fontes aqui dps*/

/*Background da tela de login*/
body{
    color: #FFFF;
    text-align: center;
}

img{
    width: 445px;
    height: 611px;
    margin: 0px;
    
}

.cadastro_login{
    background-color: #D95004;
    margin-top: -10%;
};
